body {
    background-color: #ffcccb; /* Color vibrante */
    color: #000; /* Texto negro */
    font-family: "Comic Sans MS", cursive, sans-serif;
}

header {
    background-color: #ff5733; /* Naranja intenso */
    padding: 20px;
    text-align: center;
}

h1, h2 {
    color: #34dbeb; /* Azul neón */
}

button {
    background-color: #34dbeb;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
}

button:hover {
    background-color: #2aafc0;
}
